*{

  margin: 0;
}
body{
  background-image: url(./Bg.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 


}
:root {
  --white:  rgb(250, 250, 250);
  --red: #09cf45;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsla(0, 2%, 36%, 0.774);
  --bgFormElsFocus: hsla(0, 7%, 19%, 0.87);
}
.grid-container{
    
  background: var(--bgFormEls);
  }
.large{
width: 100%;

  
}

.search-container
{
  margin: 5%;
  
padding: 10px 10px;
margin-right: 16px;
font-size: 17px;
border: none;
cursor: pointer;
}
.search-container input{
  margin-top: 2%;
  font-family: inherit;
  font-size: 100%;

}
.search-container button{
  font-family: inherit;
  cursor: pointer;
  line-height: 1.5;
  padding: 6px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);

}
table,th, td {
  color:rgb(184, 184, 46);
  background: rgb(54, 54, 54);
}
* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
@media (min-width: 550px)
{
  .grid-container{display: grid;grid-template-columns: 1fr 1fr1fr;
      background: var(--bgFormEls);
      }
  .large{grid-column: 2 / span 2; 
      grid-row: 1 / span 4;}

}


#radios label {
  cursor: pointer;
  position: relative;
}


input[type="radio"] + span {
  font-family: 'Material Icons';
  color: #ebebeb;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;

}

input[type="radio"]:checked + span {
  color: #D9E7FD;
  background-color: #404041;
}

input[type="radio"]:focus + span {
  color: #fff;

}


#radios label:hover::before {
  content: attr(for);
  font-family: Roboto, -apple-system, sans-serif;
  text-transform: capitalize;
  font-size: 10px;
  position: absolute;
  top: 170%;
  left: 0;
  right: 0;
  color: #fff;  
  padding: 4px;
  border-radius: 3px;
  
}


#radios {
  text-align: left;
  margin: 5%;
}










