*{
  /* border: 1px dashed red; */
  margin: 0;
}
body{
  background-image: url(/Bg.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */


}
:root {
  --white:  rgb(250, 250, 250);
  --red: #09cf45;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsla(0, 2%, 36%, 0.774);
  --bgFormElsFocus: hsla(0, 7%, 19%, 0.87);
}
.grid-container{
    
  background: var(--bgFormEls);
  }
.large{
  margin: 5%;
  
}

.search-container
{
  margin: 5%;
  
padding: 10px 10px;
margin-right: 16px;
font-size: 17px;
border: none;
cursor: pointer;
}
.search-container input{
  margin-top: 2%;
  font-family: inherit;
  font-size: 100%;

}
.search-container button{
  font-family: inherit;
  cursor: pointer;
  line-height: 1.5;
  padding: 6px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);

}
@media (min-width: 550px)
{
  .grid-container{display: grid;grid-template-columns: 1fr 1fr1fr;
      background: var(--bgFormEls);
      }
  .large{grid-column: 2 / span 2; 
      grid-row: 1 / span 4;}
  

}

